Template Reset for Next Year Data/Microsoft.Flow/flows/ef63fc6d-df1e-4bf3-8434-3d0fdbee1bce/definition.json
{"name":"78c77b94-e43b-4b6a-bb14-aac6d45d002e","id":"/providers/Microsoft.Flow/flows/78c77b94-e43b-4b6a-bb14-aac6d45d002e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Clear the Excel","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"3e9b771f-e997-4653-a4b4-c7df2f0631ce","type":"User","tenantId":"9652d7c2-1ccf-4940-8151-4a92bd474ed0"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-07-18T11:13:38.3222611Z","connectionKeySavedTimeKey":"2025-07-18T11:13:38.3222611Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Month","interval":12,"startTime":"2025-10-01T00:30:00.000Z"},"metadata":{"operationMetadataId":"aa6fb658-108e-47fd-8e86-b20defcade60"},"type":"Recurrence"}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG":"/Dashboard App/Copy of CKD Cost Analysis Dashboard local.xlsx","operationMetadataId":"b0780191-209f-4492-a365-ce5aca47c426","tableId":"{6A797EBD-41A6-4830-B6E8-2D9B7899D305}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!3DCaTHcqJ02rZ5depdaQ8848FF4RBCdMiWNTX_Lk2RJSlCqJ94BVRItzNs0obwbf","file":"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG","table":"{6A797EBD-41A6-4830-B6E8-2D9B7899D305}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Delete_a_row":{"metadata":{"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG":"/Dashboard App/Copy of CKD Cost Analysis Dashboard local.xlsx","operationMetadataId":"53007ac8-7bf9-4883-b3d3-37dc41ee741e","tableId":"{6A797EBD-41A6-4830-B6E8-2D9B7899D305}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!3DCaTHcqJ02rZ5depdaQ8848FF4RBCdMiWNTX_Lk2RJSlCqJ94BVRItzNs0obwbf","file":"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG","table":"{6A797EBD-41A6-4830-B6E8-2D9B7899D305}","idColumn":"Category","id":"@items('Apply_to_each')?['Category']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"59d80661-0bca-4229-898d-8e0af1d3d623"},"type":"Foreach"},"List_rows_present_in_a_table_2":{"runAfter":{},"metadata":{"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG":"/Dashboard App/Copy of CKD Cost Analysis Dashboard local.xlsx","operationMetadataId":"4806713d-9116-4850-801b-111b4bb7da35","tableId":"{B2FAD924-679A-4762-BACE-07314BCA4DFB}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!3DCaTHcqJ02rZ5depdaQ8848FF4RBCdMiWNTX_Lk2RJSlCqJ94BVRItzNs0obwbf","file":"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG","table":"{B2FAD924-679A-4762-BACE-07314BCA4DFB}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_rows_present_in_a_table_2')?['body/value']","actions":{"Delete_a_row_2":{"metadata":{"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG":"/Dashboard App/Copy of CKD Cost Analysis Dashboard local.xlsx","operationMetadataId":"bfaa9025-3f35-4c47-9d21-d681a8b415a1","tableId":"{B2FAD924-679A-4762-BACE-07314BCA4DFB}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!3DCaTHcqJ02rZ5depdaQ8848FF4RBCdMiWNTX_Lk2RJSlCqJ94BVRItzNs0obwbf","file":"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG","table":"{B2FAD924-679A-4762-BACE-07314BCA4DFB}","idColumn":"Category","id":"@items('Apply_to_each_2')?['Category']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"008c2b60-e9c4-4736-a108-8fbdd5bf7471"},"type":"Foreach"},"List_rows_present_in_a_table_3":{"runAfter":{},"metadata":{"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG":"/Dashboard App/Copy of CKD Cost Analysis Dashboard local.xlsx","operationMetadataId":"3fee3add-da8f-466a-b995-c46c62bf1fd0","tableId":"{B7000ACB-BAF5-45C9-B0DB-5E041318BF25}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!3DCaTHcqJ02rZ5depdaQ8848FF4RBCdMiWNTX_Lk2RJSlCqJ94BVRItzNs0obwbf","file":"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG","table":"{B7000ACB-BAF5-45C9-B0DB-5E041318BF25}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('List_rows_present_in_a_table_3')?['body/value']","actions":{"Delete_a_row_3":{"metadata":{"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG":"/Dashboard App/Copy of CKD Cost Analysis Dashboard local.xlsx","operationMetadataId":"cee9c8c4-c9e3-40fa-9e8e-c150d489bc14","tableId":"{B7000ACB-BAF5-45C9-B0DB-5E041318BF25}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!3DCaTHcqJ02rZ5depdaQ8848FF4RBCdMiWNTX_Lk2RJSlCqJ94BVRItzNs0obwbf","file":"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG","table":"{B7000ACB-BAF5-45C9-B0DB-5E041318BF25}","idColumn":"Category","id":"@items('Apply_to_each_3')?['Category']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table_3":["Succeeded"]},"metadata":{"operationMetadataId":"bd8ac1d1-d714-42ee-80ae-b61eca88bcaa"},"type":"Foreach"},"List_rows_present_in_a_table_4":{"runAfter":{},"metadata":{"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG":"/Dashboard App/Copy of CKD Cost Analysis Dashboard local.xlsx","operationMetadataId":"3662e39f-ab41-4189-afc8-38ba9efaed9c","tableId":"{7BF4F546-552D-40F4-9A40-81BD3F508240}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!3DCaTHcqJ02rZ5depdaQ8848FF4RBCdMiWNTX_Lk2RJSlCqJ94BVRItzNs0obwbf","file":"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG","table":"{7BF4F546-552D-40F4-9A40-81BD3F508240}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_4":{"foreach":"@outputs('List_rows_present_in_a_table_4')?['body/value']","actions":{"Delete_a_row_4":{"metadata":{"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG":"/Dashboard App/Copy of CKD Cost Analysis Dashboard local.xlsx","operationMetadataId":"080559c3-d2d8-4a56-96f4-d86ea206f20c","tableId":"{7BF4F546-552D-40F4-9A40-81BD3F508240}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!3DCaTHcqJ02rZ5depdaQ8848FF4RBCdMiWNTX_Lk2RJSlCqJ94BVRItzNs0obwbf","file":"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG","table":"{7BF4F546-552D-40F4-9A40-81BD3F508240}","idColumn":"Category","id":"@items('Apply_to_each_4')?['Category']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table_4":["Succeeded"]},"metadata":{"operationMetadataId":"9339011e-62d8-48d4-b027-fb195c4d57f1"},"type":"Foreach"},"Run_script":{"runAfter":{},"metadata":{"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG":"/Dashboard App/Copy of CKD Cost Analysis Dashboard local.xlsx","operationMetadataId":"5d38c4ba-a696-49b0-9656-de6eb5ba22a2","tableId":null},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!3DCaTHcqJ02rZ5depdaQ8848FF4RBCdMiWNTX_Lk2RJSlCqJ94BVRItzNs0obwbf","file":"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG","scriptId":"ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F0162XSMHVL3CC6LJ33EZG3CJUJ6SO3PJX7"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"RunScriptProd"},"authentication":"@parameters('$authentication')"}},"Run_script_2":{"runAfter":{},"metadata":{"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG":"/Dashboard App/Copy of CKD Cost Analysis Dashboard local.xlsx","operationMetadataId":"811c601a-20ab-4c20-8f44-de8ed5a93982","tableId":null},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!3DCaTHcqJ02rZ5depdaQ8848FF4RBCdMiWNTX_Lk2RJSlCqJ94BVRItzNs0obwbf","file":"0162XSMHRS2AITO4WZZBHKFHK7V3NC2CWG","scriptId":"ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F0162XSMHRCGMEGMONCHNH3OHHWPVB26KGX"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"RunScriptProd"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-a8ff0943-7c36-4acc-9553-667676c990fd","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}